.partners {
  width: 100%;
  max-width: $container-main;
  margin: $center;
  padding: $spacing-64 0;
  text-align: center;

  &__grid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .section-title {
    color: $slate-100;
  }
}
