//Colors
$primary-color: #133b5f;
$secondary-color: #2ecc71;
$accent-color: #ffe1cd;
$accent-dark: #d9ae91;
$black: #000;
$rich-black: #141414;
$body-text: #475467;
$slate-900: #2d2d2d;
$slate-500: #767676;
$slate-100: #d9d9d9;
$white: #fff;

//Font styles
$font-body: "ProductSans", sans-serif;
$font-title: "Bebas Neue", sans-serif;

//Spacing
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-12: 12px;
$spacing-16: 16px;
$spacing-32: 32px;
$spacing-64: 64px;
$spacing-72: 72px;

// constraints
$center: 0 auto;
$container-main: 1210px;
